<h1>View formulas by Skin Concern:</h1><br>

<div class="row">
  <div class="col-sm-6"> 
    <div class="list-group">
      <% @skinconcerns.each do |concern| %>
        <%= render partial: 'skinconcerns/skinconcern', locals: {x: concern} %>
      <% end %>
    </div>
  </div> <!-- col -->
</div> <!-- end of row --> 