<h1>View formulas by Skin Concern:</h1><br>

<div class="row">

  <div class="col-sm-6"> 
    <div class="list-group">
      <a href="/skinconcerns" class="list-group-item list-group-item-action active">All Skin Concerns</a>

      <% @skinconcerns.each do |concern| %>
        <a><%=link_to concern.name, skinconcern_path(concern), :class => "list-group-item list-group-item-action"%></a>
      <% end %><br>
    </div>
  </div> <!-- col -->
</div> <!-- end of row --> 