<div class="card mb-3">

  <div class="card-body">
    <%= render partial: 'users/profile_title', locals: {x: @user} %>
  </div>

  <div class="card-body">
    <% @user.formulas.each do |formula| %>
      <%= render partial: 'formulas/formula_info', locals: {x: formula} %> 
    <% end %>
  </div>

</div>
