<blockquote class="blockquote">
  <h2>It's about simplicity.</h2>
  <p class="lead">
    <em>Our belief is that fewer ingredients means gentler skincare. And the simpler your routine the better. As a community, we want to create and share beauty products that are natural, eco-friendly, and cost-efficient.</em>
  </p>
</blockquote>