<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#first">Skin Concerns</a>
  </li> 

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#second">Categories</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#third">Formulas</a>
  </li> 
</ul>