<h1>All Formulas</h1>

or view by <%= link_to "category", categories_path  %> 
or <%= link_to "skin concern", skinconcerns_path  %> 

<br><br>

<% @formulas.each do |formula| %>
  <h4><%=link_to formula.title, formula_path(formula)%></h4>
<% end %> 

<br><br>

<%= link_to "New Formula", new_formula_path, class: "btn btn-primary btn-lg" %>
