<h1>All Categories</h1><br>

<div class="row">
  <div class="col-sm-4"> 
    <h6>Face</h6>
    <%= render partial: 'categories/category', collection: @face_categories, as: :x%><br>
  </div>

  <div class="col-sm-4"> 
    <h6>Body</h6>
    <%= render partial: 'categories/category', collection: @body_categories, as: :x%><br>
  </div>

  <div class="col-sm-4"> 
    <h6>Hair</h6>
    <%= render partial: 'categories/category', collection: @hair_categories, as: :x%><br>
  </div>
</div>
