<h1>All Categories</h1><br>

<div class="row">

  <div class="col-sm-4"> 
    <div class="list-group">
      <a href="/categories" class="list-group-item list-group-item-action active">For Face</a>

      <% @face_categories.each do |category| %>
        <a><%=link_to category.name, category_path(category), :class => "list-group-item list-group-item-action"%></a>
      <% end %>
    </div><br>
  </div> <!-- col 1 -->

  <div class="col-sm-4"> 
    <div class="list-group">
      <a href="/categories" class="list-group-item list-group-item-action active">For Body</a>

      <% @body_categories.each do |category| %>
        <a><%=link_to category.name, category_path(category), :class => "list-group-item list-group-item-action"%></a>
      <% end %>
    </div><br>
  </div> <!-- col 2 -->

  <div class="col-sm-4"> 
    <div class="list-group">
      <a href="/categories" class="list-group-item list-group-item-action active">For Hair</a>

      <% @hair_categories.each do |category| %>
        <a><%=link_to category.name, category_path(category), :class => "list-group-item list-group-item-action"%></a>
      <% end %>
    </div>
  </div> <!-- col 3 -->

</div> <!-- end of row --> 
